* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 13px 17%;
    justify-content: space-between;
    align-items: center;
    background-color: #006633;
    color: #fff;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

#hero {
    padding: 13px 17%;
    width: 100%;
}

#hero h2{
    font-size: 22px;
    color: #006633;
    margin: 10px 0;
}

form {
    width: clamp(300px,65%,80%);
    min-height: 40vh;
    background-color: #eee;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    padding: 20px 4%;
    gap: 30px;
}

.from-to-container {
    display: flex;
    flex-flow: row wrap;
    gap: 50px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
}

select {
    appearance: none;
    min-width: 140px;
    width: 280px;
    background: url(dropdown-svgrepo-com.svg) no-repeat 95% center;
    background-size: contain;
}

select,
form > div > input {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    font-family: inherit;
    color: #000;
}

form > div > input {
    min-width: 140px;
    max-width: 610px;
}




