* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 13px 17%;
    justify-content: space-between;
    align-items: center;
    background-color: #006633;
    color: #fff;
}

h1 {
    font-size: 28px;
    font-weight: 500;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}
nav a {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

#hero {
    padding: 13px 17%;
    width: 100%;
}

#hero h2{
    font-size: 25px;
    color: #006633;
    margin: 10px 0;
}

form {
    width: clamp(300px,75%,85%);
    min-height: 40vh;
    background-color: #eee;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    padding: 20px 4%;
    gap: 30px;
}

.from-to-container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.from-to-container button {
    width: 40px;
    margin-top: 25px;
    border: none;
    border-radius: 50%;
    background: url(swap-horizontal-circle-solid.svg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label {
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
}

select {
    appearance: none;
    min-width: 140px;
    width: 280px;
    background: url(dropdown-svgrepo-com.svg) no-repeat 98% center;
    background-size: contain;
}

select,
form > div > input,
form > div > output {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    font-family: inherit;
    color: #000;
}

form > div > input,
form > div > output {
    min-width: 140px;
    max-width: 610px;
}

form > div > output {
    height: 41.5px;
    background-color: #fff;
    overflow-x: scroll;
}

details {
    margin-top: 50px;
    width: clamp(300px,75%,85%);
    font-family: inherit;
    color: #1f2932;
}

summary {
    color:#006633;
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0;
}

details div {
    background-color: #eee;
    border: 1px solid #888;
    display: flex;
    flex-direction: column;
    padding: 20px 4%;
    color: #1f2932;
}

details h3{
    font-size: 23px;
    color:#006633d0;
}

details h4 {
    font-size: 21px;
    margin: 8px 0 5px;
    color:#006633d0;
}

details h4:not(:first-of-type) {
    margin-top: 30px;
}

ol {
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    gap: 8px;   
}
 
li {
    font-size: 21px;
}

pre {
    background-color: #1f2932;
    color: #e5e7eb;
    font-family: monospace;
    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    margin-left: 20px;
    line-height: 1.5rem;
    border-radius: 25px;
}
